<form [formGroup]="productForm" (ngSubmit)="submit()">

<mat-form-field appearance="outline">
  <mat-label>Kod</mat-label>
  <input matInput formControlName="code">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Nazwa</mat-label>
  <input matInput formControlName="name">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Cena</mat-label>
  <input matInput type="number" formControlName="price">
</mat-form-field>

<button mat-raised-button color="primary" type="submit">
Dodaj produkt
</button>

</form>